*{
    margin:0;
    padding:0;
}

#page{
    text-align: center;
    margin-top: 50px;
    padding-top:20px;
    padding-bottom:10px;
    background-color:#c9c9c9;
    border: #c9c9c9;
    border-radius: 5px;
    
}

#username{
    width:200px;
    height:30px;
    border: 1px;
    border-radius: 1px;
    background-color: ;
}

#password{
    width:200px;
    height:30px;
    border: 1px;
    border-radius:1px;
}

#submit{
    width:200px;
    height: 30px;
    border:1px;
    border-radius: 1px;
    background-color:#009900;
}

a{
    color:#009900;
    text-decoration: none;
}

#no-login{
    font-size: 12.5px;
}
